/*--------------------IMPORTANDO FONTES-----------------------*/

@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

/*--------------------ESTILO DA PAGINA------------------------*/


/*para a tela do meu pc*/

@media only screen and (max-width: 1920px) {
    body {
        background-color: rgb(78, 78, 78);
        background-image: url("Background site.jpg");
        background-size: 100%;
        margin: 0;
        text-align: center;
    }
    .apresentaçãoEvento {
        font-family: Pirata One;
        font-size: 300%;
    }
    .apresentaçãoEvento h1 {
        color: white;
    }
    .convidado {
        background-color: rgb(0, 0, 0);
        position: absolute;
        top: 30%;
        left: 27%;
        border: 10px solid;
        margin: 20px;
        border-radius: 5%;
        border-color: rgb(255, 102, 0);
        font-size: 200%;
        padding-right: 5%;
        padding-left: 5%;
        color: whitesmoke;
        position: absolute;
    }
}


/*telas de celulares grandes*/

@media only screen and (max-width: 1080px) {
    body {
        background-image: url("back\ cell.jpg");
        background-size: 100%;
        background-position: absolute;
        right: 20%;
    }
    .convidado {
        background-color: rgb(0, 0, 0);
        font-size: 250%;
        padding-right: 5%;
        padding-left: 5%;
        color: whitesmoke;
        position: absolute;
        top: 30%;
        left: 6%;
        border: 10px solid;
        margin: 20px;
        border-radius: 5%;
        border-color: rgb(255, 102, 0);
    }
}